<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <title><layout-placeholder name="title"/></title>
</head>

<body>
    <!-- Wrap All Content -->
    <layout-placeholder name="body"/>
    <!-- /Wrap All Content -->
</body>

</html>
