<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title><layout-placeholder name="title"/></title>
		<link rel="stylesheet" href="/tests/stylesheets/style.css" type="text/css" />
	</head>

	<body>

		<header id="header">
			<div class="innertube">
				<h1>Sceene Examples</h1>
                <ul style="font-size: 0.8em;">
                    <li style="display: inline;"><a href="/">index</a> | </li>
                    <li style="display: inline;"><a href="/home">home</a> | </li>
                    <li style="display: inline;"> <a href="/events">events</a> | </li>

                    <li style="display: inline;"> <a href="/music">music</a> | </li>
                    <li style="display: inline;"> <a href="/organizations">organizations</a> | </li>
                    <li style="display: inline;"> <a href="/people">people</a> | </li>
                    <li style="display: inline;"> <a href="/places">places</a> | </li>
                    <li style="display: inline;"> <a href="/sceenes">sceenes</a></li>
                </ul>
			</div>
		</header>

		<div id="wrapper">
			<main>
			    <layout-placeholder name="body" />
			</main>

			<nav id="nav">
				<div class="innertube">
                    <layout-placeholder name="nav" />
				</div>
			</nav>
		</div>

		<footer id="footer">
			<div class="innertube">
				<p>Footer...</p>
			</div>
		</footer>

	</body>
</html>